<html>
    <head></head>
    <body>
        <p>
            <a href="/register">Register</a><br>
            <a href="/login">Sign in</a><br>
            <a href="/properties">View properties</a><br>

        </p>
    </body>
</html>
