<html>

<head>
<a href="/">Home</a><br>
</head>
  <body>
    <p>
      <%= session[:fail_message] %>
    </p>
  </body>

  <footer>
  <a href="/login">Login</a><br>
  <a href="/properties">View properties</a><br>
  <a href="/properties/new">Add a new property</a><br>
  </footer>

</html>