<html>
<head>
<a href="/">Home</a><br>
</head>
  <body>
  <form method='POST' action='/login'>

    <div> <label>Email address</label>
            <input type='text' name='email_address'/>
    </div>

    <div> <label>Password</label>
            <input type='password' name='password'/>
    </div>

    <input type='submit' value='login'/>
  </body>
</html>
