<div class="infocontainter">
  <h4>List of properties</h4>
    <p>
      <% @properties.each do |property| %>
        <a href="/properties/<%=property.id%>"><%="#{property.title}"%></a><br>
      <% end %></b>
    </p>
</div>
